@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" value="${item.id}" underline="true"/>
                            <#input id="patientId" name="" value="${item.patientId}" underline="true"/>
                            <#input id="age" name="年龄" value="${item.age}" underline="true"/>
                            <#input id="sex" name="性别" value="${item.sex}" underline="true"/>
                            <#input id="cp" name="胸部疼痛类型" value="${item.cp}" underline="true"/>
                            <#input id="trestbpss" name=" 静息血压" value="${item.trestbpss}" underline="true"/>
                            <#input id="chol" name="以mg/dl为单位的血清类固醇" value="${item.chol}" underline="true"/>
                            <#input id="fbs" name="空腹血糖（空腹血糖 > 120 mg/dl) (1 = 是; 0 = 否)）" value="${item.fbs}" />
                </div>

                <div class="col-sm-6">
                            <#input id="restecg" name="（0,1,2）" value="${item.restecg}" underline="true"/>
                            <#input id="thalach" name="达到的最大心率" value="${item.thalach}" underline="true"/>
                            <#input id="exang" name="是否运动诱发的心绞痛 (1 = 是; 0 = 否)" value="${item.exang}" underline="true"/>
                            <#input id="oldpeak" name="由与相对休息有明显差异的运动诱导的ST段压低" value="${item.oldpeak}" underline="true"/>
                            <#input id="slope" name="" value="${item.slope}" underline="true"/>
                            <#input id="ca" name="被透视荧光检查（flourosopy）标注颜色的大血管的数量 (0-3)" value="${item.ca}" underline="true"/>
                            <#input id="thal" name="" value="${item.thal}" underline="true"/>
                            <#input id="num" name="心脏病的诊断 (冠状动脉疾病状态)" value="${item.num}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="PreHeartdisInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="PreHeartdisInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/preHeartdis/preHeartdis_info.js"></script>
@}
